#bookshelf {
    display: flex;
    flex-wrap: wrap;
}

#myForm {
    display: flex;
    flex-direction: column;
}

#myForm > * {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    width: 29%;
}

.card {
    background-color: lightgrey;
    width: 250px;
    height: 125px;
    margin: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cancelButton {
    width: 25%;
    align-self: flex-end;
    background-color: red;
}

.title {
    border-bottom: solid;
    padding-bottom: 5px;
}